.settingdivblue {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #C4D8E4;
    border-radius: 100%;
    padding-top: 5px;
}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


.box-header .with-border {
    border-bottom: 1px solid #f4f4f4;
}